server:
  port: 8080

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://dpg-d55smdn5r7bs73f8chqg-a.singapore-postgres.render.com/users
    username: userservicedb_mtzo_user
    password: OuIjuS7DT2zCHLMxnniKPTRcqVo9qSbS
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 465
    username: adisingh234560@gmail.com
    password: mwvb iecu vrea rpis
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://eureka-registry-1.onrender.com/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
