
server:
  port: 8080

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://dpg-d55smdn5r7bs73f8chqg-a.singapore-postgres.render.com/users
    username: userservicedb_mtzo_user
    password: OuIjuS7DT2zCHLMxnniKPTRcqVo9qSbS

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: 9ecadf001@smtp-brevo.com      # from Brevo SMTP settings
    password: bskRJRGUs9lVJWJ   # from Brevo SMTP settings
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

# Uncomment below if you want Gmail SMTP instead of Brevo
# mail:
#   host: smtp.gmail.com
#   port: 465
#   username: adisingh234560@gmail.com
#   password: mwvb iecu vrea rpis
#   properties:
#     mail.smtp.auth: true
#     mail.smtp.starttls.enable: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
